<html>
    <head>
        <title>streaming client</title>
        <meta charset="utf-8"/>
        <link href="video-js.min.css" rel="stylesheet" />
    </head>
    <body>
        <center>
        <h1>live streaming</h1>
        <video-js id="liveplayer" controls autoplay width=600 class="vjs-default-skin">
            <source src="https://{{ nginx_rtmp.server_name }}/{{ nginx_rtmp.stream_secret }}/hls/{{ nginx_rtmp.stream_key }}.m3u8" type="application/x-mpegURL">
        </video-js>

        <br><br>

        <video width=600 data-dashjs-player autoplay controls
            src=https://{{ nginx_rtmp.server_name }}/{{ nginx_rtmp.stream_secret }}/dsh/{{ nginx_rtmp.stream_key }}.mpd></video>

        </center>

        <script src="video.min.js"></script>
        <script src="videojs-http-streaming.min.js"></script>
        <script src="dash.all.min.js"></script>
        <script>
            var player = videojs("liveplayer");
            player.play();
        </script>
    </body>
</html>
